* {
    box-sizing: border-box;
}

html,
 body {
     font-family: 'Roboto', sans-serif;
 }
.shopping-cart {
    margin-top: 30px;
    margin-bottom: 40px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #0f0f0f;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    border-top:  1px solid #f5f2f2;
    border-bottom:  1px solid #f5f2f2;
}

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}
.delete-btn {
    display: inline-block;
    Cursor: pointer;
}
.delete-btn {
    width: 18px;
    height: 17px;
}
.image {
    margin-right: 50px;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline:0;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image img {
        width: 50%;
    }
    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
    }
}

#fixedContainer
{
    background: #FFFFFF;
    position: fixed;
    width: 400px;
    height: 310px;
    left: 63%;
    bottom: 56%;
    margin-left: -100px; /*half the width*/
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
}

.grey-background {
    background-color: #F3F3F3;
}

.checkout-button {
    cursor: pointer;
    outline: 0;
    color: #ffffff;
    background-color: #2ea44f;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 50px 6px 50px;
    font-size: 16px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.checkout-button:hover {
    color: #fff;
    background-color: #2c974b;
    border-color: #1b1f2326;
}
                

                

